<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
</head>
<body style="background-color: gray;">
	<div align="center"> 
		<fieldset style="width:500px">
			<form method="POST">
				<input type="text" name="username" placeholder="username" />
				<br/>
				<input type="password" name="password" placeholder="password" />
				<br/>
				<input type="submit" value="SignUp"/>
			</form>
		</fieldset>
		<p>{{.}}</p>
	</div>
</body>
</html>